body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #abb1fa;
    text-align: center;
    padding: 35px 0;
}

h1 {
    margin: 0;
    color: #fff;
}

h2 {
    text-align: center;
}

p{
    font-size: 1.1rem;
}


#present-list {
    list-style: none;
    padding: 0;
}

.present {
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    
}

.present:hover {
    background-color: #eaeaea;
    cursor: pointer;
}

.available {
    color: #a8b0ff;
}

.taken {
    color: #ff6b6b;
    text-decoration: line-through;
}

.main-content {
    display: flex;
    width: 100%;
    max-width: 1400px;
    margin: 100px auto;
    
}

.present-list {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.payment {
    width: 50%;
    padding: 20px;
    max-height: 530px;
    margin-left: 90px;
    box-sizing: border-box;
    background-color: #eaebfc;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.payment-options {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pix {
    margin-bottom: 20px;
}

.qr-code img {
    max-width: 250px;
}



.notes {
    width: 40%;
    padding: 20px;
    max-height: 530px;
    margin-left: 90px;
    margin: auto;
    margin-top: 80px;
    box-sizing: border-box;
    background-color: #eaebfc;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.notes h2 {
    text-align: center;
    margin-bottom: 15px;
}

.notes p {
    font-size: 1.1rem;
    margin-bottom: 10px;
}





/* Estilos para dispositivos com largura de tela até 768px */
@media (max-width: 768px) {

    .notes {
        width: 85%;
        max-height: 960px;
    }

    .notes h2 {
        margin-bottom: 30px;
    }
    
    .main-content {
        flex-direction: column;
        align-items: center;
    }

    .present-list,
    .payment {
        width: 90%;
        margin-left: 0;
    }

    .present-list {
        margin-bottom: 20px;
    }
    .present {
        width: 80%;
    }
    
    .qr-code img {
        width: 200px;
    }
}

/* Estilos para dispositivos com largura de tela até 1024px */
@media (max-width: 1200px) {
    .present {
        font-size: large;
        padding: 10px;
        margin: 5px;
    }

    
    .qr-code img {
        width: 200px;
    }
    .notes {
    
        max-height: 960px;
    }
    
    
}
/* Estilos para dispositivos com largura de tela até 1850px */
@media (max-width: 1850px) {
   
    .notes {
        width: 85%;
        max-height: 960px;
    }
    
    
}